.container{
        display:flex;
        background-color: rgb(39, 38, 38);
        justify-content: space-between;
        color:rgb(243, 243, 227);
        font-size: 25px;
        height: 100px;
        width: 1139px;
        padding-bottom: 10px;
        padding-left: 30px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
       


     }

     .home{
      color: rgb(248, 116, 67);
     }

     .navbar{
        display: flex;
        justify-content: flex-end;
        gap: 20px;
        font-size: 23px;
        padding-right: 50px;
        padding-top: 50px ;
        
     }

     .navbar a:hover{
      color: rgb(248, 116, 67);
      cursor:pointer;
     }
     
     .navbar a{
      text-decoration: none;
      color:white;
     }
     .img{
        background-image: url(images1/banner-bg.png);
        width:1169px;
        height: 500px;
        background-size: cover;
        margin-top: -50px;  
     }

     .h1{
       padding-left: 30px;
       font-size: 70px;
       font-weight: lighter;
       font-style:unset;
       padding-top: 130px;
       font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     }

     .h1s{
        padding-left: 30px;
        font-size: 65px ;
        margin-top:-40px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style:initial;
        color:beige;
     }

     .p1{
        font-size: 18px;
        color:beige;
        padding-left: 30px;
        margin-top: -35px;
        font-weight: lighter;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        
     }

     .btn{
      padding-left:17px;
      width:170px;
      height:50px;
      font-size:15px;
      color: whitesmoke;
      margin-left:30px;
      background-color: rgb(39, 38, 38) ;
     }

     .btn:hover{
      background-color: rgb(248, 116, 67);
      cursor:pointer;
     }

     .container2{
      display:flex;
      width: 1139px;
      padding-left: 10px;
      
      padding-top: 120px;
     }

     .about{
      color:rgb(248, 116, 67);
      font-weight:300px;
      font-size: 16px;
      font-family: Arial, Helvetica, sans-serif;
      padding-top: 120px;
      padding-left: 140px;
     }

     .p2{
      color:dimgrey;
      font-size: 12px;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
     }

     .btn2{
      width:170px;
      height:50px;
      font-size:17px;
      color: whitesmoke;
      background-color: rgb(39, 38, 38) ;
     }

     .btn2:hover{
      background-color: rgb(248, 116, 67);
      cursor:pointer;
     }

     .img2{
      padding-top: 20px;
      margin-left: 50px;
     }

     


     .gllry{
      color:rgb(248, 116, 67);
      font-weight:280px;
      font-size: 20px;
      padding-top: 60px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
     }

     .p3{
      color:dimgrey;
      font-size: 16px;
      font-family:Verdana, Geneva, Tahoma, sans-serif;

     }

     .grid{
      display:grid;
      gap:30px;
      grid-template-columns: auto auto auto;
      margin:5%;
      margin-left: 100px;
      margin-right: 100px;
      row-gap: 45px;
      padding-top: 30px;
      justify-content: center;
     }

     .btn3{
      
      width:170px;
      height:50px;
      font-size:17px;
      color: whitesmoke;
      background-color: rgb(42, 41, 41) ;
      margin-left: 500px;
      cursor:pointer;
      
     }
    

      .btn3:hover{
        background-color: rgb(248, 116, 67); 
      }

      .container3{
        color:rgb(255, 255, 255);
        font-size: 21px ;
        padding-top: 50px;
        font-family: Arial, Helvetica, sans-serif;
        background-image: url(images1/services-bg.png);
        background-attachment: fixed;
        width:1200px;
        height:600px;
        text-align: center;
        margin-top: 100px;
      }


      .p4{
        margin-top: -10px;
        font-size: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }


      .container4{
        display:flex;
        flex-direction: row;
      }

      .container4 div{
         background-color:rgb(245, 106, 56);
         width: 290px;
         height:190px;
         column-gap: 20px;
         margin-top: 40px;
         margin-left: 110px;
         margin-right: -86px;
         font-family: Verdana, Geneva, Tahoma, sans-serif;
         
         font-weight: -20;
         font-size: 12px;
      }

      .container4 div:hover{
        background-color: white;
        color: black;
        height: 250px;
        display: block;
      }
      

      .h2{
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: lighter;
      }
      .img1{
        padding-top: 30px;
      }
      .btn4{
      
      width:170px;
      height:50px;
      font-size:17px;
      color: whitesmoke;
      background-color: rgb(42, 41, 41) ;
      cursor:pointer;
      display: none;
     }

     .container4 div:hover .btn4{
      display: inline-block;

     }


     .container5{
      background-color: white;
      color: rgb(245, 106, 56);
      font-size: 18px;
      font-weight:400px;
      font-family:Arial, Helvetica, sans-serif;
      height: 700px;
      margin-top:70px;
      padding-top: 70px;
      
      
     }

     .img3{
      background-image: url(images1/img-9\ \(1\).png) ;
      /* background-repeat: no-repeat; */
      
       width:620px;
       height:430px;
      float: left;
      margin-left: -20px;
      
     }

     #box{
      background-color: white;
      color: rgb(61, 59, 59) ;
      width:450px;
      height: 30px;
      margin-top: 16px;
      padding-top: 12px;
      padding-left: 20px;
      margin-left: 20px;
      border-radius: 25px ;
     }

     #box1{
      background-color: white;
      color: rgb(65, 64, 64) ;
      width:450px;
      height:80px;
      padding-top: 10px;
      padding-left: 20px;
      margin-left: 20px;
      margin-top: 14px;
      border-radius: 30px ;
     }


     .btn5{
      width:150px;
      height:50px;
      font-size:13px;
      font-family: Arial, Helvetica, sans-serif ,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: whitesmoke;
      border-radius: 20px;
      background-color:rgb(184, 59, 13);
      cursor:pointer;
     
     }

    .container6{
        display:flex;
        background-color: rgb(39, 38, 38);
        justify-content: space-between;
        color:rgb(243, 243, 227);
        font-size: 15px;
        height: 350px;
        width: 1200px;
        margin-top: -170px;
     }

     .details{
      text-align: start;
     padding: 70px ;
     text-emphasis-style: unset;
     }

     .detls{
      text-align: start;
     padding: 70px ;
     text-emphasis-style: unset;
     cursor: pointer;
     }

     .detls p:hover{
      color: rgb(248, 116, 67);
     }